body {
  font-family: Poppins;
  margin: 0;
}
body .row {
  display: flex;
}
body .overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  left: 0;
  top: 0;
}
body .modal-login {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  height: fit-content;
  padding: 40px 40px;
  border-radius: 4px;
}
body .modal-login .modal-inner {
  position: relative;
  gap: 30px;
}
body .modal-login .modal-inner .form-heading {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
}
body .modal-login .modal-inner .login-form, body .modal-login .modal-inner .register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .modal-login .modal-inner .login-form .modal-input, body .modal-login .modal-inner .register-form .modal-input {
  height: 30px;
  font-size: 16px;
  color: #333;
  border: 1px solid #333;
  box-shadow: none;
  margin-bottom: 10px;
  border-radius: 4px;
}
body .modal-login .modal-inner .close-button {
  position: absolute;
  right: 0;
  top: 0;
}
body .show {
  display: block;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.container .col-1 {
  max-width: 8%;
  width: 100%;
}
.container .col-2 {
  max-width: 16%;
  width: 100%;
}
.container .col-3 {
  max-width: 25%;
  width: 100%;
}
.container .col-4 {
  max-width: 34%;
  width: 100%;
}
.container .col-5 {
  max-width: 42%;
  width: 100%;
}
.container .col-6 {
  max-width: 50%;
  width: 100%;
}
.container .col-7 {
  max-width: 58%;
  width: 100%;
}
.container .col-8 {
  max-width: 66%;
  width: 100%;
}
.container .col-9 {
  max-width: 75%;
  width: 100%;
}
.container .col-12 {
  max-width: 100%;
  width: 100%;
}

#header {
  background-color: #fff;
}
#header .header-wrapper {
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
#header .header-wrapper .header-center .main-menu {
  list-style: none;
  display: flex;
  gap: 30px;
}
#header .header-wrapper .header-center .main-menu .menu-item a {
  color: #000;
  text-decoration: none;
  font-size: 19px;
  font-weight: 500;
}
#header .header-wrapper .header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
#header .header-wrapper .header-right .cart-button {
  background-color: transparent;
  border: 2px solid #ffc03f;
  font-size: 17px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  max-height: 44px;
  height: 44px;
  width: 115px;
  justify-content: center;
  gap: 8px;
}
#header .header-wrapper .header-right .login {
  background-color: black;
  border: 2px solid #000000;
  color: #fff;
  font-size: 17px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  max-height: 44px;
  height: 44px;
  width: 115px;
  justify-content: center;
  gap: 8px;
}
#header .header-wrapper .header-right .side-menu {
  background-color: #ffc03f;
  width: 44px;
  height: 44px;
  border-radius: 30px;
  position: relative;
}
#header .header-wrapper .header-right .side-menu .side-menu-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main .first-row {
  background-color: #f2f2f2;
  min-height: 85vh;
  display: flex;
  align-items: center;
}
#main .first-row .first-row-wrapper .site-heading {
  font-size: 75px;
  line-height: 50px;
  color: #000000;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 40px;
}
#main .first-row .first-row-wrapper .site-heading .heading-inner {
  font-weight: bold;
  font-size: 57px;
}
#main .first-row .first-row-wrapper .descr {
  font-size: 28px;
  color: #515254;
  line-height: 1.3;
  margin-bottom: 40px;
}
#main .first-row .first-row-wrapper .services-wrapper {
  display: flex;
  gap: 35px;
}
#main .first-row .first-row-wrapper .services-wrapper .service {
  background-color: #000;
  width: 190px;
  height: 150px;
  border-radius: 4px;
  display: flex;
  align-items: flex-end;
  padding: 20px;
}
#main .first-row .first-row-wrapper .services-wrapper .service .service-text {
  font-size: 19px;
  font-weight: 600;
  color: #fff;
}
#main .second-row {
  min-height: 542px;
  background: linear-gradient(90deg, #ffc03f 40%, #fff 0%);
  display: flex;
  align-items: center;
}
#main .second-row > div {
  position: relative;
}
#main .second-row .second-heading {
  font-size: 38px;
  font-family: Poppins;
  max-width: 60%;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 900;
}
#main .second-row .second-descr {
  font-size: 22px;
  line-height: 33px;
}
#main .second-row .classes-row {
  justify-content: space-around;
}
#main .second-row .classes-row .class-item {
  width: 270px;
  height: 300px;
  background-color: #e5e5e5;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  box-shadow: 1px 0px 28px 0px rgba(0, 0, 0, 0.5);
}
#main .second-row .classes-row .class-item:before {
  content: "$99";
  width: 64px;
  height: 58px;
  background-color: #fff;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -20px;
  z-index: 4;
  font-size: 18px;
  font-weight: 700;
  bottom: 25px;
  border-radius: 4px;
  box-shadow: 1px 0px 28px 0px rgba(0, 0, 0, 0.5);
}
#main .second-row .classes-row .class-item:after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  background: linear-gradient(0deg, black, transparent);
}
#main .second-row .classes-row .class-item .class-name {
  font-size: 18px;
  text-transform: uppercase;
  font-family: Poppins;
  max-width: 60%;
  color: #fff;
  z-index: 5;
}
#main .second-row .classes-row .nav-buttons {
  position: absolute;
  left: 0;
  top: 90%;
}
#main .second-row .classes-row .nav-buttons button {
  padding: 0;
  background: none;
  border: none;
}
#main .third-row {
  padding: 40px 0;
}
#main .third-row .triggers-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
#main .third-row .triggers-wrap .third-heading-block .third-heading {
  font-size: 17px;
  line-height: 28px;
  color: #828282;
  font-family: Poppins;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}
#main .third-row .triggers-wrap .third-heading-block .third-subheading {
  font-size: 18px;
  font-family: Poppins;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
  margin: 0;
}
#main .third-row .triggers-wrap .third-heading-block a {
  text-decoration: none;
  color: #000;
}
#main .fourth-row {
  padding: 40px 0;
  background-image: url("images/blueshape.png");
  background-size: cover;
  background-position: center bottom;
}
#main .fourth-row > div {
  align-items: center;
  gap: 50px;
}
#main .fourth-row .fourth-heading {
  font-size: 38px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 20px;
}
#main .fourth-row .fourth-subheading {
  font-size: 28px;
  line-height: 1.2;
  color: #000;
  margin-bottom: 40px;
  font-weight: 500;
  margin-top: 0;
}
#main .fourth-row .fourth-descr {
  font-size: 22px;
  line-height: 33px;
  color: #828282;
  margin-bottom: 20px;
}
#main .fourth-row .social-block {
  align-items: center;
  justify-content: space-between;
}
#main .fourth-row .socials {
  align-items: center;
  gap: 20px;
}
#main .fourth-row .video-block {
  width: 690px;
  height: 670px;
  background-color: #e5e5e5;
  position: relative;
}
#main .fourth-row .video-block .video-button {
  position: absolute;
  left: -45px;
  top: 50px;
  background-color: #ffc03f;
  border: none;
  width: 91px;
  height: 91px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main .fifth-row > div {
  align-items: center;
  justify-content: space-between;
}
#main .fifth-row .form .row {
  flex-wrap: wrap;
}
#main .fifth-row .form #name {
  width: 100%;
  max-width: 608px;
}
#main .fifth-row .form input {
  width: 90%;
  height: 57px;
  margin-bottom: 20px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 0;
  padding: 0 5px;
  color: #e5e5e5;
}
#main .fifth-row .form input::placeholder {
  color: #515254;
  font-family: Poppins;
}
#main .fifth-row .form .checkboxes {
  justify-content: space-between;
}
#main .fifth-row .form .checkboxes .sport-courses {
  width: 120px;
  height: 105px;
  border: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
#main .fifth-row .form .checkboxes .sport-courses .sport-descr {
  margin: 0;
}
#main .fifth-row .form-heading {
  font-size: 38px;
  font-family: Poppins;
  line-height: 1.3;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 20px;
}
#main .fifth-row .form-descr {
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 45px;
  margin-top: 0;
}
#main .fifth-row .prefer-course {
  font-size: 20px;
  line-height: 25px;
  font-family: Poppins;
  color: #000;
  font-weight: 500;
  margin: 20px 0px;
}
#main .fifth-row .form-img {
  max-width: 100%;
}
#main .fifth-row .submit {
  font-family: Poppins;
  font-size: 19px;
  color: #fff;
  background-color: #000;
  border-radius: 50px;
  width: 330px;
  height: 78px;
  margin-top: 30px;
}
#main .fifth-row .submit:before {
  content: ">";
  padding-left: 5px;
}